@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
}

.dashboard {
  display: flex;
  gap: 20px;
}

.dashboard-content {
  background: white;
  flex: 1;
  display: flex;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  min-width: 280px;
  width: 100%;
  min-height: 400px;
  max-height: calc(100vh - 80px);
  justify-content: space-between;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  /*transition: margin 0.3s, height 0.3s, border-radius 0.3s;*/
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: inherit;
}

.top {
  display: flex;
  flex-direction: row;
  width: inherit;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  position: relative;
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  color: black;
  font-family: "Plus Jakarta Sans";
  padding-right: 10px;
  white-space: nowrap;
}

.time-detail {
  position: relative;
  font-size: 16px;
  color: black;
  font-family: "Plus Jakarta Sans";
  padding-right: 10px;
  white-space: nowrap;
}

.text {
  font-weight: normal;
}

.time {
  font-weight: bold;
}

.profile-detail {
  position: relative;
  width: 100%;
  justify-content: end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-detail-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-detail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 10px;
  color: black;
  font-family: "Plus Jakarta Sans";
  text-align: right;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.id {
  font-size: 10px;
  font-weight: normal;
}

.avatar-icon {
  height: 43px;
}

@media (max-width: 620px) {
  .profile-detail-temp {
    width: 100%;
    justify-content: space-between;
  }

  .title {
    display: none;
  }
}

@media (max-width: 560px) {
  .dashboard-content {
    margin: 0px;
    margin-left: 20px;
    border-radius: 0px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    box-shadow: none;
  }

  .name-detail {
    display: none;
  }

  .profile-detail-temp {
    width: auto;
    align-self: stretch;
    z-index: 1;
  }

  .top {
    background-color: #336135;
    margin: -20px;
    margin-bottom: 10px;
    padding: 20px;
  }
}
