:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #abbc77;
}

@media (max-width: 560px) {
  body {
    background: white;
  }
}
