.p-container {
  display: flex;
  flex-direction: column;
  min-height: 320px;
  height: 100%;
  width: inherit;
}

.p-bottom {
  min-height: 320px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 80px);
}

.p-tabs {
  width: 99%;
  margin: 0% 0.5%;
  display: flex;
  background-color: white;
  transition: background-color 0.3s ease;
}

.p-tab {
  padding-top: 10px;
  flex: 1;
  background-color: #e2e2e2;
  color: #5a5a5a;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

.p-tab-line {
  margin-top: 10px;
  height: 4px;
  background-color: #e2e2e2;
}

.p-tab:hover {
  background-color: white;
  color: #4c8c41;
  transition: background-color 0.3s ease;
}

.p-tab.active {
  background-color: white;
  color: #4c8c41;
  transition: background-color 0.3s ease;
}

.p-tab:hover .p-tab-line {
  background-color: #4c8c41;
  transition: background-color 0.3s ease;
}

.p-tab.active .p-tab-line {
  background-color: #4c8c41;
  transition: background-color 0.3s ease;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-5px);
  }
}

.fade-in-left {
  animation: fadeInLeft 0.2s forwards;
}

.fade-out-left {
  animation: fadeOutLeft 0.2s forwards;
}

.p-bottom-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background: white;
  border-radius: 7px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.notif {
  background-color: #dde7bb;
  margin-left: 30px;
  margin-right: 30px;
  transition: margin 0.3s;
}

.p-bottom-container-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-searchbar {
  width: 50%;
  padding: 7px;
  border: 0px;
  background-color: #d9d9d9;
  font-size: 14px;
  color: #909090;
  border-radius: 20px;
}

.p-searchbar:focus {
  outline: none;
}

.p-table-wrapper {
  flex-grow: 1;
  overflow-y: scroll;
  margin-right: -12.5px;
  border-radius: 20px 20px 0px 0px;
}

.p-table-container {
  z-index: 1;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.p-table-container th {
  position: sticky;
  height: 25px;
  top: 0;
  padding: 10px;
  background-color: #bebebe;
  color: black;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.p-table-container th::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: black;
}

.p-table-container td {
  padding: 10px 5px;
  font-weight: bold;
  text-align: center;
  overflow-wrap: break-word;
}

.p-table-container tr {
  background-color: #f3f3f3;
}

.p-table-container tr:nth-child(even) {
  background-color: #dedede;
}

.accept-button,
.delete-button {
  background-color: #35c759;
  height: 20px;
  padding: 2.5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 1px;
}

.accept-button:hover {
  background-color: #2f9646;
}

.delete-button {
  background-color: #ff3b31;
}

.delete-button:hover {
  background-color: #c13429;
}

.user-type-centra,
.user-type-xyz,
.user-type-harbor {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 75px;
  border-radius: 25px;
  color: white;
  font-weight: normal;
  font-size: 15px;
  margin: 0 auto;
}

.user-type-centra {
  background-color: #abbc77;
}

.user-type-xyz {
  background-color: #336135;
}

.user-type-harbor {
  background-color: #4c8c41;
}

.batch-type-processed,
.batch-type-unprocessed,
.batch-type-expired {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 100px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin: 0 auto;
}

.batch-type-processed {
  background-color: #baf8bb;
  color: #229c40;
}

.batch-type-unprocessed {
  background-color: #f9f3a9;
  color: #988b1b;
}

.batch-type-expired {
  background-color: #ffb2a4;
  color: #9c2222;
}

.edit-button {
  background-color: #5a5a5a;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #7b7b7b;
}

.b-edit-mode-container {
  min-height: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  border-radius: 25px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.b-edit-mode-title {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  height: 15%;
  background-color: #224030;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
}

.back-button {
  height: 50px;
  width: 50px;
  padding: 0px;
  margin-left: 20px;
  background-color: #224030;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #4e6658;
}

.b-edit-mode-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bolder;
  margin-left: 20px;
}

.b-edit-mode-text-title {
  font-size: 25px;
}

.b-edit-mode-text-subtitle {
  font-size: 15px;
  color: #cccccc;
}

.b-edit-mode-content {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 90%;
  margin: 10px auto;
  color: #383838;
  font-size: 16px;
  font-weight: bold;
}

.b-edit-mode-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 10px;
  align-items: center;
}

.b-edit-mode-input {
  height: 30px;
  padding: 0px 10px;
  border: 3px solid red;
  background-color: white;
  font-size: 18px;
  color: #707070;
  border-radius: 7px;
  margin-right: 1vw;
}

.b-edit-mode-input:focus {
  outline: none;
}

.b-edit-mode-input.filled {
  border: 3px solid black;
}

.b-edit-mode-bottom {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.b-confirm-button,
.b-delete-button {
  height: 25px;
  width: 100px;
  background-color: #35c759;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.b-confirm-button:hover {
  background-color: #2f9646;
}

.b-confirm-button:disabled {
  background-color: #35c759;
  cursor: not-allowed;
}

.b-delete-button {
  background-color: #ff3b31;
}

.b-delete-button:hover {
  background-color: #c13429;
}

.b-edit-mode-input:focus {
  outline: none;
}

.b-edit-mode-input.filled {
  border: 3px solid black;
}

.search-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-dropdown {
  height: 30px;
  width: 115px;
  padding: 0px 10px;
  border: none;
  border-radius: 7px;
  background-color: #abbc77;
  font-size: 14px;
  color: white;
  appearance: none;
}

.search-dropdown-wrapper {
  position: relative;
}

.search-dropdown-wrapper::after {
  content: url("../../Assets/Filter.svg");
  position: absolute;
  top: 5px;
  right: 5px;
}

.select-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 1vw;
}

.select-dropdown select {
  height: 34px;
  width: 100%;
  padding: 0px 10px;
  border: 3px solid black;
  border-radius: 7px;
  background-color: white;
  font-size: 18px;
  color: #707070;
  appearance: none;
}

.select-dropdown select option {
  font-size: 16px;
  padding: 10px;
}

.select-dropdown::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.shipment-status-arrived,
.shipment-status-otw,
.shipment-status-pending {
  display: flex;
  align-items: center;
  height: 25px;
  width: 95px;
  border-radius: 25px;
  color: white;
  font-weight: normal;
  font-size: 15px;
  margin: 0 auto;
  background-color: #5c5c5c;
}

.shipment-status-arrived:before,
.shipment-status-otw:before,
.shipment-status-pending:before {
  content: "\2022";
  position: relative;
  transform: translateY(-6.5%);
  padding-left: 3px;
  padding-right: 5px;
  font-size: 30px;
}

.shipment-status-arrived:before {
  color: #35c759;
}

.shipment-status-otw:before {
  color: #ffd609;
}

.shipment-status-pending:before {
  color: #ff453a;
}

.p-bottom-container-notif-buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

.p-table-wrapper::-webkit-scrollbar {
  width: 7px;
}

.p-table-wrapper::-webkit-scrollbar-thumb {
  background-color: #6f6f6f;
  border-radius: 10px;
}

.p-table-wrapper::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 10px;
}

.notification-bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  min-height: 70px;
  width: calc(100% - 16px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  margin: 7.5px;
  font-size: 18px;
}

.notification-bar.read {
  background-color: #ebf1da;
}

.notification-subtitle {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.notification-checkbox {
  min-height: 15px;
  min-width: 15px;
  margin: 0px 20px;
}

.notification-details {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  gap: 2.5px;
}

.notification-extra-details {
  color: #565656;
  font-size: 15px;
}

.notification-bin {
  height: 20px;
  width: 20px;
  margin: 0px 20px;
  z-index: 2;
}

.notification-select-button,
.notification-delete-button {
  height: 25px;
  width: 110px;
  background-color: #35c759;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notification-delete-button {
  background-color: #ff3b31;
}

.notification-select-button:hover {
  background-color: #2f9646;
}

.notification-delete-button:hover {
  background-color: #c13429;
}

.back-arrow-container {
  display: none;
}

.back-arrow {
  height: 30px;
  padding: 2.5px;
  cursor: pointer;
  border-radius: 12.5px;
}

.back-arrow:hover {
  background-color: #5f825e;
  transition: 0.2s ease-in-out;
}

.top-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #336135;
  margin: -20px;
  margin-bottom: 20px;
  padding: 0px;
  padding-bottom: 20px;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.top-secondary-img {
  height: 18px;
  width: 18px;
  filter: invert(76%) sepia(35%) saturate(357%) hue-rotate(34deg)
    brightness(89%) contrast(92%);
}

.top-secondary-title {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  white-space: nowrap;
}

.mobile-content {
  margin-bottom: 20px;
  height: calc(100vh - 240px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  margin: 10px 0px;
  border-radius: 20px;
  overflow: hidden;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #224030;
  padding: 10px 15px;
}

.card-edit {
  height: 30px;
  padding: 2.5px;
  cursor: pointer;
  border-radius: 12.5px;
}

.card-edit:hover {
  transition: 0.2s ease-in-out;
  background-color: #4e6658;
}

.card-title {
  color: #abbc77;
  font-size: 12px;
}

.card-subtitle {
  color: white;
  font-size: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  background-color: #d3ddb5;
  padding: 10px 15px;
  color: black;
  font-size: 16px;
  gap: 7.5px;
}

.card-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card-temp {
  display: flex;
  width: 75%;
}

.long-word-break {
  word-break: break-all;
}

.m-extend {
  height: calc(100vh - 200px);
}

.batch-edit-date {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 905px) {
  .branch-column {
    display: none;
  }

  .manufacture-column {
    display: none;
  }

  .courier-column {
    display: none;
  }
}

@media (max-width: 780px) {
  .weight-column {
    display: none;
  }

  .username-column {
    display: none;
  }
}

@media (max-width: 705px) {
  .email-column {
    display: none;
  }

  .weight2-column {
    display: none;
  }
}

@media (max-width: 660px) {
  .date-column {
    display: none;
  }

  .notif {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 560px) {
  .back-arrow-container {
    display: block;
  }

  .b-edit-mode-grid {
    grid-template-columns: none;
  }

  .p-container {
    display: flex;
    flex-direction: column;
    min-height: 320px;
    height: calc(100vh - 40px);
    width: inherit;
  }

  .p-bottom {
    height: 100%;
  }

  .search-nav {
    margin-bottom: 10px;
  }

  .user-type-centra,
  .user-type-xyz,
  .user-type-harbor,
  .batch-type-processed,
  .batch-type-unprocessed,
  .batch-type-expired,
  .shipment-status-arrived,
  .shipment-status-otw,
  .shipment-status-pending {
    height: 20px;
    margin: 0px;
  }

  .p-bottom-container-notif-buttons {
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .tertiary-dropdown {
    height: 30px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 7px;
    background-color: #abbc77;
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
    appearance: none;
  }

  .tertiary-dropdown-wrapper {
    position: relative;
  }

  .tertiary-dropdown-wrapper::after {
    content: "\25BC";
    position: absolute;
    top: 15px;
    right: 10px;
    transform: translateY(-50%);
    color: white;
  }

  .p-bottom-container.notif {
    padding: 0px;
    background-color: white;
    box-shadow: none;
  }

  .notification-bar {
    font-size: 14px;
  }

  .notification-extra-details {
    font-size: 12px;
  }

  .p-table-wrapper {
    margin-right: 0px;
  }

  .batch-edit-date {
    flex-direction: column;
    gap: 5px;
  }
}
